
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #1a1a1a, #292929), url('path-to-your-background-image.jpg');
    background-blend-mode: overlay;
    color: #ffffff;
}

h2 {
    color: #ff8c00;
    animation: fadeIn 1s ease-in-out;
}

h2:hover,
label:hover {
    color: #ff8c00;
    text-shadow: 0 0 10px rgba(255, 140, 0, 0.8);
}

.converter {
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

select,
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #fff;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
}

button:hover {
    background-color: #45a049;
}

button.clicked {
    background-color: #ff8c00;
    color: #000;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s, font-weight 0.5s, transform 0.5s;
    transform: scale(1.1);
}

#result {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .converter {
        width: 90%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    h2,
    label {
        color: #ff8c00;
        text-shadow: 0 0 10px rgba(255, 140, 0, 0.8);
    }
}
